version: "3.3"
services:

  mongodb:
    volumes:
      - mongodb-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-true}
    ports:
      - "80:80"
    command: /start-reload.sh
    volumes:
      - ./backend:/app
    environment:
      - FRONTEND_URL=http://localhost:19006
      - DEV_MODE=true
      # - JUPYTER=jupyter lab --ip=0.0.0.0 --allow-root --NotebookApp.custom_display_url=http://127.0.0.1:8888
      # - SERVER_HOST=http://${DOMAIN?Variable not set}


volumes:
  mongodb-data:
