name: Run tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
    - 'backend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
        mongodb-version: ['5.0']
        # node-version: [12.x, 14.x]
        # mongodb-version: ['4.0', '4.2', '4.4']

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Install dependencies
      run: |
        cd backend
        pip install poetry
        poetry install

    - name: Run tests
      env:
        MONGODB_URL: 'mongodb://localhost:27017/'
        DOMAIN: localhost
        # MONGODB_URL: 'mongodb://root:oursecretpassword@localhost:27017/'
      run: |
        cd backend
        ./tests-start.sh
        # pytest --cov=app --cov-report=term-missing tests

    # - run: npm install

    # - run: npm test
    #   env:
    #     CI: true